---
---
@charset "utf-8";
@import "bootstrap/_functions";
@import "bootstrap/_variables";
@import "bootstrap/mixins/_breakpoints";

.inkind{
  padding-top: 3rem;
}

.content {
  background-color: #fffbe9;
}

.sidebar {
  color: #fffbe9;
  background-color: #010066;
  padding: 10px;
  a:link, a:visited, a:hover, a:active {
  color: #fffbe9;
  text-decoration: underline;
  }
  .nav  .active > a{
    font-weight: bold;
  }
  .nav > li > a {
    padding-top:    3px;
    padding-bottom: 3px;
    padding-left: .5rem;
    font-size: 90%;
  }
}

.banner {
  margin-top: .5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding: 1rem;
  background-color: #b0c4de;
}

@include media-breakpoint-up(md) {
  body {
    padding: 3rem;
  }
}
