<div class="col-md-3">
  <div class="bs-sidebar hidden-print" >
    <ul class="nav flex-column bs-sidenav">
      {% for sect in site.sections %}
        {% assign pg = site.pages | where:"keyword",sect %}
        {% assign pg = pg[0] %}
          <li {% if page.url == pg.url %}class="active"{% endif %}><a href="{{site.baseurl}}{{ pg.url }}">{{ pg.title }}</a> </li>
      {% endfor %}
      <li><a href="{{ site.parenturl }}">{{ site.parentname }}</a></li>
    </ul>
  <div class="inkind">
  <i>Sponsors in Kind</i><br><a href="http://www.worldpay.com/" target="_blank"><img src="/images/worldpay.png" alt="Worldpay"</a></a></div>
  </div>
</div>
